ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

h1 {
    color: blueviolet;
}

#preText {
    background-color: yellow;
}

.benchStage {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    min-height: 105px;
}

.battleStage {
    background-color: rgb(255, 47, 47);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    min-height: 105px;
}

#bench1 {
    background-color: orange;
}

#bench2 {
    background-color: yellow;
}

#bench3 {
    background-color: green;
}

#bench4 {
    background-color: blue;
}

#bench5 {
    background-color: purple;
}

.deckList {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    min-height: 105px;
}

li {
    list-style: none;
    display: block;
    width: 73px;
}
